<div class="container">
  <div class="sidebar">
    <div class="tab" *ngFor="let tab of alltabs" 
         [class.active]="activeTab === tab.id"
         (click)="setActiveTab(tab.id)">
      {{tab.title}}
    </div>
    <button class="download-btn" (click)="generatePDF()">Download PDF</button>
  </div>
  
  <div class="content">
    <div *ngIf="activeTabContent" [innerHTML]="activeTabContent"></div>
  </div>
</div>

<button class="download-btn" (click)="generatePDF()" [disabled]="isGeneratingPDF">
  {{ isGeneratingPDF ? 'Generating PDF...' : 'Download PDF' }}
</button>
<!--Even if a person wants to download it, the data of all tabs will be downloaded in pdf format -->





